<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Vue的列表渲染</title>
    <script src="../js/vue.js"></script>
</head>
<body>

<div id="app">
    <!--<div v-for="(item,index) of list"-->
    <!--:key="item.id">{{item.text}}&#45;&#45;&#45;&#45;{{index}}-->
    <!--</div>-->
    <!--
        遍历数组
    -->
    <!--<template v-for="(item,index) of list">-->
    <!--<div>-->
    <!--{{item.text}}&#45;&#45;&#45;&#45;{{index}}-->
    <!--</div>-->
    <!--<span>-->
    <!--{{item.text}}-->
    <!--</span>-->
    <!--</template>-->

    <!--
        遍历对象
        改变对象的内容
        1.可以改变对象的引用 重新赋值一个对象
        2.通过Vue.set() Vue.set(vm.userInfo,"address","北京")
           通过Vue实例
        vm.$set(vm.userInfo,"address","beijing")
    -->
    <!--<div v-for="(item,key,index) of userInfo">-->
        <!--<div>-->
          <!--{{key}}-&#45;&#45;{{item}}-&#45;&#45;{{index}}-->
        <!--</div>-->

    <!--</div>-->

    <!--
        改变数组元素
        Vue.set(vm.studentId,1,5)
        vm.$set(vm.studentId,2,10)

    -->
    <div v-for="(item,key,index) of studentId">
        <div>
          {{item}}
        </div>

    </div>

</div>

<script>
	//使用vue提供的方法操作数组元素
	//push pop shift unshift splice sort reverse

	//改变引用
	//给list重新赋值 改变引用从而改变页面数据
	var vm = new Vue({
		el: "#app",
		data: {
			list: [
				{
					id: "001",
					text: "hello"
				}, {
					id: "002",
					text: "boy"
				}
			],
            userInfo:{
				name:"小白",
                age:18,
                sex:"男"
            },
            studentId:[1,2,3,4]
		}
	})
</script>

</body>
</html>